development: &defaults
  riak: &riak_defaults
    host: localhost
    http_port: 8098
    buckets: &bucket_defaults
      data: rs_data
      directories: rs_directories
      binaries: rs_binaries
      authorizations: rs_authorizations
      opslog: rs_opslog

test:
  riak:
    <<: *riak_defaults
    buckets:
      data: rs_data_test
      directories: rs_directories_test
      binaries: rs_binaries_test
      authorizations: rs_authorizations_test
      opslog: rs_opslog_test

staging:
  <<: *defaults

production:
  <<: *defaults
